body {
    background-color: #111F2C;
    overflow-y: hidden;
}

#root,
body,
html {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    height: 100vh;
}

.react-flow__handle {
    opacity: 0;
}

.react-flow .react-flow__handle {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
}