body {
    background-color: #111F2C;
}

body,
html {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

*:focus {
    outline: 'none' !important
}

.react-flow__handle {
    opacity: 0;
}

.react-flow .react-flow__handle {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
}